<strong>Olá, {{ deliveryman }} </strong>
<p>Há uma nova encomenda disponível para retidada, confira os detalhes abaixo:  </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Endereço: </strong> {{ street }}, {{number}} - {{complement }} - {{ city }} - {{ state }} - {{ cep }}

</p>
